body {
    text-align: center;
    font: Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 52px;
    line-height: 0.15;
    text-indent: -60px;
}

h2 {
    line-height: .15;
    text-indent: -220px;

}

div {

  }

p {
    width: 300px;
    background-color: rgba(240, 100, 100, 0.821);
    margin-left: auto;
    margin-right: auto;
}

button {

}

